# hack to get files without extensions ignored
# - ignore everything
# - white-list the parent folders recursively
# - white-list files with an extension
_projects/*
!_projects/*/
!_projects/*.*
_projects/imgui.ini

# for now just keep compiled libs out of there. add exceptions for those that cant be easily built
*.dylib
*.a


# junk
.DS_Store
*.o
libs/imgui/native/cimgui_git
